<!DOCTYPE html>
<html lang="en">
<#include "/fragment/header.html" />
<link rel="stylesheet" href="/assets/css/authorized.css">
<body>
<!-- 顶部 -->
<div class="about-head">
    <!-- 最上面logo部分 -->
    <div class="logo">
        <div class="float-left logo-left">
            <!-- 左边logo和文字 -->
            <div class="logo-left-img"></div>
        </div>
        <div class="float-right logo-right">
            <!-- 右边搜索和电话 -->
            <div class="search float-left">
                <form action="/search/searchKewWord.html">
                    <input class="search-box" name="keyword" placeholder="请在此搜索关键字哟......" type="text">
                    <button class="search-icon" type="submit"></button>
                </form>
            </div>
            <div class="phone float-right">
                <div class="phone-icon"></div>
                <div class="phone-num">0731-88671588</div>
            </div>
        </div>
    </div>

    <!-- 第二层头部导航区 -->
    <div class="head-bar">
        <div class="app">
            <#include import('category') />
        </div>
    </div>

    <!-- h1 资质授权 -->
    <div class="logo-h1 app">
        <h1>资质授权</h1>
    </div>
</div>
<!-- 当前位置 -->
<div class="current-position">
    <div class="app">
        <div class="about-icon"></div>
        <div class="current-div">您当前的位置 :</div>
        <div class="current-ul">
            <ul>
                <li><a href="/">网站首页></a></li>
                <@breadCrumb categoryId=id postfix='>'>
                <#list categorys as category>
                <li><a href="${category.path!}">${category.name!}</a></li>
                </#list>
                </@breadCrumb>
            </ul>
        </div>
    </div>
</div>

<!-- 证书墙 -->
<div class="news-content">
    <div class="content-div app">
        <ul>
            <#list contents as content>
            <li>
                <div class="content">
                    <img <#if content.cover??>src="${content.cover.url!}"</#if> >
                </div>
                <span class="content-text">
                    <a href="${content.url!}">${content.title!}</a>
                </span>
            </li>
            </#list>
        </ul>
    </div>
    <#include "/fragment/page.html" />
</div>
<#include import('footer')/>
</body>
</html>
