<!DOCTYPE html>
<html lang="en">
<#include "/fragment/header.html" />
<link rel="stylesheet" href="/assets/css/inquire.css">
<body>
<!-- 顶部 -->
<div class="about-head" style="background: url(/assets/images/inquire-bg.png) no-repeat;">
    <!-- 最上面logo部分 -->
    <div class="logo">
        <div class="float-left logo-left">
            <!-- 左边logo和文字 -->
            <div class="logo-left-img"></div>
        </div>
        <div class="float-right logo-right">
            <!-- 右边搜索和电话 -->
            <div class="search float-left">
                <form action="/search/searchKewWord.html">
                    <input class="search-box" name="keyword" placeholder="请在此搜索关键字哟......" type="text">
                    <button class="search-icon" type="submit"></button>
                </form>
            </div>
            <div class="phone float-right">
                <div class="phone-icon"></div>
                <div class="phone-num">0731-88671588</div>
            </div>
        </div>
    </div>

    <!-- 第二层头部导航区 -->
    <div class="head-bar">
        <div class="app">
            <#include import('category') />
        </div>
    </div>

    <!-- h1 证书查询 -->
    <div class="logo-h1 app">
        <h1>证书查询</h1>
    </div>
</div>

<!-- 当前位置 -->
<div class="current-position">
    <div class="app">
        <div class="about-icon"></div>
        <div class="current-div">您当前的位置 :</div>
        <div class="current-ul">
            <ul>
                <li><a href="/">网站首页></a></li>
                <@breadCrumb categoryId=id postfix='>'>
                <#list categorys as category>
                <li><a href="${category.path!}">${category.name!}</a></li>
                </#list>
                </@breadCrumb>
            </ul>
        </div>
    </div>
</div>

<!-- 主体内容区 -->
<div class="content app">
    <ul>
        <li>
            <span>防爆合格证</span>
            <div>
                <a target="_blank" href="explosionCertificateForm.html">立即查询</a>
            </div>
        </li>
        <li>
            <span>矿山再用设备检测</span>
            <div>
                <a target="_blank" href="deviceDetectionForm.html">立即查询</a>
            </div>
        </li>
        <li>
            <span>矿用合格证</span>
            <div>
                <a target="_blank" href="miningCertificatesForm.html">立即查询</a>
            </div>
        </li>
    </ul>
</div>

<#include import('footer') />

</body>
<script>
    $(function() {
        $('.logo-left-img').click(function() {
            location.href = '/'
        })
    })
</script>

</html>
