<!-- 页面底部 -->
<div class="footer">
    <div>
        <div class="head-bar app footer-bar">
             <#include import('category')/>
        </div>
    </div>
    <div class="footer-div">
        <div class="app">
            <div class="footer-logo float-left"></div>
            <div class="erweima float-right"></div>
            <div class="footer-content footer-content1">0731-88671588</div>
            <div class="footer-content footer-content2">中国 ● 湖南 ● 湖南省长沙市岳麓区天马路121号</div>
            <div class="footer-content footer-content3">
                <div class="footer-wx">
                    <a href="javascript:;"></a>
                </div>
                <div class="footer-xl">
                    <a href="javascript:;"></a>
                </div>
                <div class="footer-qq">
                    <a href="javascript:;"></a>
                </div>
                <div class="footer-qqkj">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <div class="footer-content footer-content4">版权所有:国家安全生产长沙矿山机电检测检验中心 湘ICP备14004059号-2 公安备案号 43010402000660
            </div>
        </div>
    </div>
</div>