<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>矿山研究院</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/index1.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/news.css">
    <link rel="stylesheet" href="/assets/css/news-details.css">
    <link rel="stylesheet" href="/assets/css/about-us.css">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/jquery.page.js"></script>
</head>
<header>
    <div class="swiper-container">
        <!-- 最上面logo部分 -->
        <div class="logo">
            <div class="float-left logo-left">
                <!-- 左边logo和文字 -->
                <div class="logo-left-img"></div>
            </div>
            <div class="float-right logo-right">
                <!-- 右边搜索和电话 -->
                <div class="search float-left">
                    <form action="/search/searchKewWord.html">
                        <input class="search-box" name="keyword" placeholder="请在此搜索关键字哟......" type="text">
                        <button class="search-icon" type="submit"></button>
                    </form>
                </div>
                <div class="phone float-right">
                    <div class="phone-icon"></div>
                    <div class="phone-num">0731-88671588</div>
                </div>
            </div>
        </div>
      <!-- 第二层头部导航区 -->
    <div class="head-bar">
        <div class="app">
            <div class="app">
                  	<!--导入分类栏目-->
                    <#include import('category')/>
            </div>
        </div>
    </div>
      <!--banner图-->
   <#include import('banner')/>
</header>