<!-- 技术服务 -->
<div class="technical-services app">
    <!-- 标题 -->
    <div class="technical-head">
        <div class="float-left gray-bar"></div>
        <div class="float-left blue-bar"></div>
        <span class="technical-head-span">技术</span>
        <span>服务</span>
        <div class="float-right gray-bar"></div>
        <div class="float-right blue-bar"></div>
    </div>

    <!-- 四张图 -->
    <div class="img">
        <ul>
            <li>
                <div class="box-img">
                    <img src="/assets/images/technicalImg1.png">
                </div>
                <div class="line">
                    <div class="line-box1"></div>
                    <div class="line-box2"></div>
                    <div class="line-box3"></div>
                </div>
                <div class="text">专业第三方检测机构</div>
            </li>
            <li>
                <div class="box-img">
                    <img src="/assets/images/technicalImg2.png">
                </div>
                <div class="line">
                    <div class="line-box1"></div>
                    <div class="line-box2"></div>
                    <div class="line-box3"></div>
                </div>
                <div class="text">30余年检测认证经验</div>
            </li>
            <li>
                <div class="box-img">
                    <img src="/assets/images/technicalImg3.png">
                </div>
                <div class="line">
                    <div class="line-box1"></div>
                    <div class="line-box2"></div>
                    <div class="line-box3"></div>
                </div>
                <div class="text">多家权威机构认可</div>
            </li>
            <li>
                <div class="box-img">
                    <img src="/assets/images/technicalImg4.png">
                </div>
                <div class="line">
                    <div class="line-box1"></div>
                    <div class="line-box2"></div>
                    <div class="line-box3"></div>
                </div>
                <div class="text">全程一对一服务</div>
            </li>
        </ul>
    </div>
    <!-- 内容区 -->
    <div class="content">
      	<!--isrecomd 3,isheadline 7-->
      	<@topNew where='istop 10'>
        <!-- 左边的图片 -->
              <div class="content-img float-left" id="technical-img">
                <#if istop??><!--判断是否有置顶-->
                 <#list istop as top><!--有就遍历输出-->
                  <img <#if top_index!=0>class="none"</#if> src="${top.cover.url!}">
                 </#list>
                </#if>
              </div>
              <!-- 右边的tab栏 -->
              <div class="content-text float-right">
                 <#if istop??><!--判断是否有置顶-->
                  <#list istop as top><!--有就遍历输出-->
                    <div class="text-up">
                        <h1>${top.title!}</h1>
                        <ul>
                            ${top.description!}
                        </ul>
                    </div>
                  </#list>
                 </#if>
                  <div class="text-ul">
                      <ul id="technical-tab">
                        <#if istop??><!--判断是否有置顶-->
                         <#list istop as top><!--有就遍历输出-->
                          <li <#if top_index==0>class="li-hover"</#if>><a href="${top.url!}">${top.title!}</a></li>
                        </#list>
                      </#if>
                      </ul>
                  </div>
              </div>
          </@topNew>
    </div>
</div>
