<!-- 合作伙伴 -->
<div class="partner app">
    <div class="technical-head">
        <div class="float-left gray-bar"></div>
        <div class="float-left blue-bar"></div>
        <span class="technical-head-span">合作</span>
        <span>伙伴</span>
        <div class="float-right gray-bar"></div>
        <div class="float-right blue-bar"></div>
    </div>
    <div class="partner-div">
      	<@fdata code='partner'>
          <#list datas as data>
            <div class="float-left partner-img">
                <img title="${data.title!}" src="${data.cover.url!}">
            </div>
          </#list>
        </@fdata>
    </div>
</div>
