<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title!}</title>
    <meta name="keywords" content="${keywords!}">
    <meta name="description" content="${description!}">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/tinymce/skins/content/default/content.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/tinymce/skins/ui/oxide/content.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/tinymce/skins/ui/oxide-dark/content.css">
    <link rel="stylesheet" href="/assets/css/about-us.css">
    <link rel="stylesheet" href="/assets/css/professor.css">
    <link rel="stylesheet" href="/assets/css/services.css">
    <link rel="stylesheet" href="/assets/css/news.css">

    <script src="/assets/js/jquery-1.11.3.min.js"></script>
</head>

