.about-head {
  position: relative;
  width: 100%;
  height: 490px;
  background: url(../images/video-bg.png) no-repeat;
}
.about-head .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 119px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #949594;
  z-index: 10;
}
.about-head .logo .logo-left {
  margin-top: 35px;
  margin-left: 50px;
}
.about-head .logo .logo-left .logo-left-img {
  display: inline-block;
  width: 867px;
  height: 47px;
  background: url(../images/logo.png) no-repeat;
}
.about-head .logo .logo-left .logo-left-text {
  display: inline-block;
  width: 750px;
  height: 47px;
  font-size: 18px;
  color: #fff;
}
.about-head .logo .logo-left .logo-left-text .logo-text-box1 {
  width: 324px;
  height: 47px;
}
.about-head .logo .logo-left .logo-left-text .logo-text-box2 {
  margin: 0 15px 0;
  width: 1px;
  height: 47px;
  background-color: #fff;
}
.about-head .logo .logo-left .logo-left-text .logo-text-box3 {
  width: 360px;
  height: 47px;
}
.about-head .logo .logo-left .logo-left-text .logo-text-box3 .text2 {
  display: block;
  width: 360px;
  letter-spacing: 3px;
}
.about-head .logo .logo-right {
  margin-top: 40px;
}
.about-head .logo .logo-right .search .search-box {
  width: 250px;
  height: 36px;
  color: #fff;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  background-color: transparent;
}
.about-head .logo .logo-right .search .search-icon {
  display: block;
  position: relative;
  top: -29px;
  left: 235px;
  width: 20px;
  height: 20px;
  background: url(../images/search-icon.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.about-head .logo .logo-right .phone {
  position: relative;
  width: 360px;
  margin-left: 35px;
}
.about-head .logo .logo-right .phone .phone-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url(../images/phone-icon.png);
}
.about-head .logo .logo-right .phone .phone-num {
  position: absolute;
  top: -5px;
  left: 45px;
  display: inline-block;
  font-size: 36px;
  color: #fff;
}
.about-head .head-bar {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.about-head .head-bar ul {
  width: 1170px;
  height: 68px;
  padding: 0;
  margin-top: 0;
}
.about-head .head-bar ul li {
  float: left;
  width: 146px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  color: #fff;
}
.about-head .head-bar ul li a {
  display: block;
  width: 146px;
  height: 68px;
  color: #fff;
}
.about-head .head-bar ul li:hover {
  background-color: #40A0DC;
  cursor: pointer;
}
.about-head .head-bar ul #now {
  background-color: #40A0DC;
}
.about-head .logo-h1 {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}
.about-head .logo-h1 h1 {
  position: relative;
  margin-bottom: 0;
  font-size: 64px;
  color: #fff;
  text-shadow: 0 0 4px #696868;
}
.about-head .logo-h1 h1 span {
  position: absolute;
  left: 130px;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 100;
  color: #fff;
  text-shadow: 0 0 4px #696868;
}
.about-head .logo-h1 div {
  position: absolute;
  top: 125px;
  font-size: 42px;
  color: #fff;
  text-shadow: 0 0 3px #696868;
}
.about-head .logo-tab {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}
.about-head .logo-tab ul {
  padding: 0;
}
.about-head .logo-tab ul li {
  float: left;
  width: 168px;
  height: 48px;
  margin-right: 30px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f6;
  border: 1px solid #e6e6ee;
  border-radius: 35px;
}
.about-head .logo-tab ul li:nth-child(6) {
  margin-right: 0;
}
.about-head .logo-tab ul li:hover {
  background-color: #40a0dc;
}
.about-head .logo-tab ul li:hover a {
  color: #fff;
}
.current-position {
  height: 280px;
  border: 1px solid #E6E6EE;
  background-color: #F0F0F6;
}
.current-position .app1 {
  position: relative;
  height: 62px;
}
.current-position .app1 .about-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../images/about-icon.png) no-repeat;
}
.current-position .app1 .current-div {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  line-height: 16px;
  color: #646566;
}
.current-position .app1 .current-ul {
  position: absolute;
  top: 50%;
  left: 145px;
  transform: translateY(-50%);
  line-height: 16px;
}
.current-position .app1 .current-ul ul {
  padding: 0;
  margin: 0;
}
.current-position .app1 .current-ul ul li {
  float: left;
}
.current-position .app1 .current-ul ul li a {
  color: #40a0dc;
}
.current-position .app1 .current-ul ul li:last-child a {
  color: #646566;
}
.current-position .app1 .current-ul ul span {
  display: block;
  float: left;
  margin: 0 5px;
}
.current-position .news-content h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
}
.current-position .news-content .news-text {
  font-size: 16px;
  margin-top: 30px;
}
.current-position .news-content .news-text .text1 {
  font-weight: 700;
}
.current-position .news-content .news-text .text2 {
  padding-left: 10px;
  color: #636466;
  font-weight: 400;
}
.current-position .news-content .news-time {
  margin-top: 40px;
}
.current-position .news-content .news-time .time {
  display: inline-block;
  margin-right: 50px;
}
.current-position .news-content .news-time .time .left {
  display: inline-block;
  color: #989898;
}
.current-position .news-content .news-time .time .right {
  display: inline-block;
  color: #646567;
}
.current-position .news-content .news-time .click-rate {
  display: inline-block;
}
.current-position .news-content .news-time .click-rate .left {
  display: inline-block;
  color: #989898;
}
.current-position .news-content .news-time .click-rate .right {
  display: inline-block;
  color: #646567;
}
/*.news-content {*/
/*  height: 1950px;*/
/*}*/
.news-content .contnet-sapn2 {
  margin-top: 40px;
}
.news-content .contnet-sapn2 p {
  line-height: 26px;
}
.news-content .contnet-span3 {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.news-content .content-span-border {
  margin-top: 80px;
  border-top: 1px solid #e6e6ee;
}
.news-content .content-next {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 18px;
  color: #989898;
}
.news-content .content-next a {
  font-weight: 700;
  color: #656565;
}
.news-content .content-next a:hover {
  color: #40A0DC;
}
.news-content .content-next .next-top {
  margin-bottom: 10px;
}
.newest-content {
  height: 440px;
  background-color: #e6e6ee;
}
.newest-content .text-div {
  padding-top: 75px;
  font-size: 28px;
  color: #1385c4;
}
.newest-content .text-img {
  margin-top: 50px;
}
.newest-content .text-img ul {
  padding: 0;
}
.newest-content .text-img ul li {
  float: left;
  margin-right: 29px;
}
.newest-content .text-img ul li img {
  width: 270px;
  height: 165px;
}
.newest-content .text-img ul li div {
  margin-top: 10px;
}
.newest-content .text-img ul li div a {
  color: #656565;
  font-size: 14px;
}
.newest-content .text-img ul li div a:hover {
  text-decoration: underline;
}
.newest-content .text-img ul li:last-child {
  margin-right: 0;
}
/* 页面底部 */
.footer {
  height: 350px;
  background-color: #494949;
}
.footer-div {
  height: 278px !important;
}
.footer .head-bar {
  height: 72px;
  background-color: #494949;
}
.footer div:nth-child(1) ul {
  padding: 0;
}
.footer div:nth-child(1) ul li {
  background-color: #494949;
  height: 71px;
}
.footer div:nth-child(1) ul li:hover {
  background-color: #40A0DC;
}
.footer div:nth-child(2) {
  height: 100%;
  background-color: #343536;
}
.footer-logo {
  position: relative;
  top: 65px;
  width: 240px;
  height: 143px;
  background: url(../images/footer-logo.png) no-repeat;
}
.erweima {
  position: relative;
  top: 75px;
  width: 121px;
  height: 121px !important;
  background: url(../images/erweima.png) no-repeat;
}
.footer-wx {
  display: inline-block;
  width: 49px;
  height: 49px;
  background: url(../images/wx.png) no-repeat 50% 50%;
  background-color: #fff;
  border-radius: 50%;
}
.footer-wx:hover,
.footer-xl:hover,
.footer-qq:hover,
.footer-qqkj:hover {
  background-color: lightskyblue !important;
}
.footer-xl {
  display: inline-block;
  width: 49px;
  height: 49px !important;
  background: url(../images/xlwb.png) no-repeat 50% 50%;
  background-color: #fff !important;
  border-radius: 50%;
}
.footer-qq {
  display: inline-block;
  width: 49px;
  height: 49px;
  background: url(../images/qq.png) no-repeat 50% 50%;
  background-color: #fff;
  border-radius: 50%;
}
.footer-qqkj {
  display: inline-block;
  width: 49px;
  height: 49px;
  background: url(../images/qqkj.png) no-repeat 50% 50%;
  background-color: #fff;
  border-radius: 50%;
}
.footer-content {
  margin: 0 auto;
  color: #fff;
}
.footer-content1 {
  position: relative;
  bottom: -40px;
  width: 299px;
  font-size: 40px;
}
.footer-content2 {
  position: relative;
  bottom: -40px;
  width: 340px;
  font-size: 16px;
}
.footer-content3 {
  position: relative;
  bottom: -55px;
  width: 251px;
}
.footer-content3 div {
  margin: 0 5px;
  cursor: pointer;
}
.footer-content4 {
  position: relative;
  bottom: -110px;
  width: 653px;
  font-size: 14px;
}
.footer-bar li {
  cursor: default !important;
}
.footer-bar li a {
  color: #fff;
}
.footer-bar li a:hover {
  text-decoration: underline;
}
.footer-bar li:hover {
  background-color: #494949 !important;
}
.footer-content a {
  display: block;
  width: 100%;
  height: 100%;
}
.head-bar {
  background-color: #7E7F7D;
}
.head-bar ul {
  display: flex;
  padding-left: 0;
  width: 1170px;
  height: 68px;
  line-height: 68px;
  margin: 0 auto;
}
.head-bar ul li {
  float: left;
  flex: 1;
  color: #fff;
  text-align: center;
}
.head-bar ul li:hover {
  background-color: #40A0DC;
  cursor: pointer;
}
